
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 20px;
}


.chat-container {
  width: 95%;
  max-width: 800px;
  height: 85vh;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 70px;
  background-color: #2b2b2b;
  border-radius: 30px 30px 7px 7px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  overflow: scroll;
}

.clear-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 70px;
  height: 50px;
  border-radius: 7px;
  background-color: #444;
  color: #ffffff;
  border: none;
  font-size: 27px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.clear-button:hover {
  background-color: #555;
}

.input-area {
  width: 95%;
  max-width: 800px;
  padding-top: 10px;
  background-color: transparent;
  display: flex;    
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

.message-input {
    font-family: 'NanumBarunGothic';
    flex: 1;
    min-width: 0;
    padding: 12px;
    height: 70px;
    border-radius: 7px 7px 7px 30px;
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 27px;
    box-sizing: border-box;
    border: none;
}

.send-button {
  width: 70px;
  height: 70px;
    border-radius: 7px 7px 30px 7px;
  background-color: #2b2b2b;
  color: #ffffff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.send-button:hover {
  background-color: #5b5b5b;
}
.message-input:hover {
    border: 2px solid #555;
}
.message-input:focus {
  background-color: #1b1b1b;
}
.message-user {
  margin: 10px;
  margin-left: auto;
  max-width: 90%;
  padding: 10px 15px;
  background-color: #2d3c4d;
  color: #ffffff;
  border-radius: 15px;
  word-wrap: break-word;
  text-align: right;  
}


.message-bot {
  margin: 10px;
  margin-right: auto;
  max-width: 90%;
  padding: 10px 15px;
  background-color: #444;
  color: #00d4ff;
  border-radius: 15px;
  word-wrap: break-word;
}

.message-bot a {
  color: #00d4ff;
  text-decoration: none;
}

.message-bot a:hover {
  text-decoration: underline;
}

.thumbnail-container {
  margin: 10px;
  margin-right: auto;
  width: 35%;
  height: auto;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
